<a href="https://colab.research.google.com/github/varnipriya/16356159_PDS/blob/main/Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [182]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [183]:
dataframe= pd.read_csv('/content/drive/MyDrive/train.csv')

In [184]:
dataframe.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50

B) Removing some of the units.

In [185]:
dataframe['Mileage'] = dataframe['Mileage'].astype(str).str.extract(r'(\d+\.?\d*)').astype(float)
dataframe['Engine'] = dataframe['Engine'].astype(str).str.extract(r'(\d+\.?\d*)').astype(float)
dataframe['Power'] = dataframe['Power'].astype(str).str.extract(r'(\d+\.?\d*)').astype(float)
dataframe['New_Price'] = dataframe['New_Price'].astype(str).str.extract(r'(\d+\.?\d*)').astype(float)
dataframe.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13.00,1199.0,88.70,5.0,8.61,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,NaN,3.50

In [186]:
dataframe.isnull().sum()

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64

A) Replacing missing values with median, mean and mode

In [187]:
dataframe['Mileage'].fillna(dataframe['Mileage'].mean(),inplace=True)
dataframe['Engine'].fillna(dataframe['Engine'].median(),inplace=True)
dataframe['Power'].fillna(dataframe['Power'].mean(),inplace=True)
dataframe['Seats'].fillna(dataframe['Seats'].mode()[0],inplace=True)

dataframe.drop('New_Price', axis=1, inplace=True)

<ipython-input-187-39b23a86605f>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataframe['Mileage'].fillna(dataframe['Mileage'].mean(),inplace=True)
<ipython-input-187-39b23a86605f>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataframe['Engine'].fillna(dataframe['Engine'].median(),inplace=True)
<ipython-input-187-39b23a86605f>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataframe['Power'].fillna(dataframe['Power'].mean(),inplace=True)
<ipython-input-187-39b23a86605f>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataframe['Seats'].fillna(dataframe['Seats'].mode()[0],inplace=True)

In [188]:
dataframe.isnull().sum()

Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

In [189]:
dataframe.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13.00,1199.0,88.70,5.0,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,3.50

C) Changing the categorical variables into numerical one hot encoded value

In [190]:
dataframe['Fuel_Type'].replace({'Diesel': 0, 'Petrol': 1, 'Electric': 2}, inplace=True)
dataframe['Transmission'].replace({'Manual': 0, 'Automatic': 1}, inplace=True)

<ipython-input-190-64325c5a50a2>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataframe['Fuel_Type'].replace({'Diesel': 0, 'Petrol': 1, 'Electric': 2}, inplace=True)
<ipython-input-190-64325c5a50a2>:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  dataframe['Fuel_Type'].replace({'Diesel': 0, 'Petrol': 1, 'Electric': 2}, inplace=True)
<ipython-input-190-64325c5a50a2>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataframe['Transmission'].replace({'Manual': 0, 'Automatic': 1}, inplace=True)
<ipython-input-190-64325c5a50a2>:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  dataframe['Transmission'].replace({'Manual': 0, 'Automatic': 1}, inplace=True)

In [191]:
dataframe.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,0,First,19.67,1582.0,126.20,5.0,12.50
1,2,Honda Jazz V,Chennai,2011,46000,1,0,First,13.00,1199.0,88.70,5.0,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,0,0,First,20.77,1248.0,88.76,7.0,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,1,Second,15.20,1968.0,140.80,5.0,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,0,0,First,23.08,1461.0,63.10,5.0,3.50

D) Creating one more feature

In [192]:
from datetime import datetime
present = datetime.now().year
dataframe['Car_Age'] = present - dataframe['Year']
dataframe.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Car_Age
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,0,First,19.67,1582.0,126.20,5.0,12.50,9
1,2,Honda Jazz V,Chennai,2011,46000,1,0,First,13.00,1199.0,88.70,5.0,4.50,13
2,3,Maruti Ertiga VDI,Chennai,2012,87000,0,0,First,20.77,1248.0,88.76,7.0,6.00,12
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,1,Second,15.20,1968.0,140.80,5.0,17.74,11
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,0,0,First,23.08,1461.0,63.10,5.0,3.50,11

E) Set of operations
1) SELECT

In [193]:
selected_columns = dataframe[['Name', 'Location']]
selected_columns.head()

                               Name    Location
0  Hyundai Creta 1.6 CRDi SX Option        Pune
1                      Honda Jazz V     Chennai
2                 Maruti Ertiga VDI     Chennai
3   Audi A4 New 2.0 TDI Multitronic  Coimbatore
4            Nissan Micra Diesel XV      Jaipur

2) FILTER

In [194]:
filtered_data = dataframe[dataframe["Location"] == "Pune"]
filtered_data.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Car_Age
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,0,First,19.67,1582.0,126.2,5.0,12.5,9
6,8,Volkswagen Vento Diesel Comfortline,Pune,2013,64430,0,0,First,20.54,1598.0,103.6,5.0,5.2,11
12,14,Land Rover Freelander 2 TD4 SE,Pune,2012,85000,0,1,Second,0.00,2179.0,115.0,5.0,17.5,12
36,38,Mercedes-Benz M-Class ML 350 CDI,Pune,2013,85000,0,1,First,11.74,2987.0,254.8,5.0,28.0,11
61,63,Mercedes-Benz New C-Class 200 CDI Classic,Pune,2011,65000,0,0,Second,15.80,2148.0,170.0,5.0,10.0,13

3) RENAME

In [195]:
dataframe.rename(columns={'Price': 'Cost', 'Fuel_Type': 'Gas_Type'}, inplace=True)
dataframe.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Gas_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Cost,Car_Age
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,0,First,19.67,1582.0,126.20,5.0,12.50,9
1,2,Honda Jazz V,Chennai,2011,46000,1,0,First,13.00,1199.0,88.70,5.0,4.50,13
2,3,Maruti Ertiga VDI,Chennai,2012,87000,0,0,First,20.77,1248.0,88.76,7.0,6.00,12
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,1,Second,15.20,1968.0,140.80,5.0,17.74,11
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,0,0,First,23.08,1461.0,63.10,5.0,3.50,11

4) MUTATE

In [196]:
dataframe['Mileage'] = dataframe['Power'] / dataframe['Engine']
dataframe.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Gas_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Cost,Car_Age
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,0,First,0.079772,1582.0,126.20,5.0,12.50,9
1,2,Honda Jazz V,Chennai,2011,46000,1,0,First,0.073978,1199.0,88.70,5.0,4.50,13
2,3,Maruti Ertiga VDI,Chennai,2012,87000,0,0,First,0.071122,1248.0,88.76,7.0,6.00,12
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,1,Second,0.071545,1968.0,140.80,5.0,17.74,11
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,0,0,First,0.043190,1461.0,63.10,5.0,3.50,11

5) ARRANGE

In [197]:
arranged_data = dataframe.sort_values(by='Kilometers_Driven')
arranged_data.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Gas_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Cost,Car_Age
1315,1361,Maruti Alto 800 2016-2019 VXI,Mumbai,2019,171,1,0,First,0.059422,796.0,47.30,5.0,3.60,5
5451,5606,Maruti Wagon R ZXI AMT 1.2,Mumbai,2019,600,1,1,First,0.068338,1197.0,81.80,5.0,6.25,5
1203,1242,Jaguar XE 2.0L Diesel Prestige,Delhi,2018,1000,0,1,First,0.088544,1999.0,177.00,5.0,40.00,6
165,173,Hyundai Grand i10 1.2 Kappa Asta,Kolkata,2019,1000,1,0,First,0.068388,1197.0,81.86,5.0,6.50,5
1123,1161,Tata Tigor 1.2 Revotron XTA,Ahmedabad,2018,1000,1,1,First,0.070058,1199.0,84.00,5.0,6.85,6